<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="text-center">Organizations</h1>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                    <th colspan="2">Group Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations">
                <td>{{organization.name}}</td>
                <td>
                <a class="btn btn-primary" [routerLink]="['/organizations/', organization.id]"><i class="fa fa-edit"></i></a>
            </td>
            <td><a class="btn btn-warning" [routerLink]="['/organization/inner-groups/', organization.id]"><i class="fas fa-users"></i> </a></td>
            <td><a class="btn btn-info" [routerLink]="['/group/create/', organization.id]"> <i class="fas fa-project-diagram"></i> </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

