<div class="row justify-content-around">
    <div class="col-lg-2 col-md-6 col-sm-6">
        <h4>Organizations</h4>
    </div>
    <div class="col-lg-7">
        <form class="form" [formGroup]="filtersForm">
            <div class="row g-2">
                <div class="col-md">
                    <tmp-select [options]="groupsSelect" [label]="'Groups'" formControlName="withGroups" [isFilter]="true"></tmp-select>
                </div>
                <div class="col-md">
                    <tmp-input [placeholder]="'Name'" [label]="'Name'" formControlName="name" [isFilter]="true"></tmp-input>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-success float-end" (click)="openCreateModal()"><fa-icon [icon]="plusIcon"></fa-icon></a> 
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <hr>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                    <th colspan="3">Group Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations">
                <td>{{organization.name}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" (click)="openEditModal(organization.id)" ><fa-icon [icon]="editOrganizationIcon"></fa-icon></a>
                        <a class="btn btn-danger" (click)="changeStatus(organization.id)"><fa-icon [icon]="archiveOrganizationIcon"></fa-icon></a>
                    </div>
                </td>       
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn" [ngClass]="organization.hasActiveGroup ? 'btn-warning' : 'btn-danger'" [routerLink]="['/groups/organization/', organization.id]"><fa-icon [icon]="innerGroupsIcon"></fa-icon></a>
                        <a class="btn btn-info" [routerLink]="['/groups/create/organization/', organization.id]"><fa-icon [icon]="plusIcon"></fa-icon></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6" *ngIf="!organizations.length">
        <div class="alert alert-info text-center" role="alert">
            <h5>There are no organizations</h5>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <tmp-pagination
        [totalCount]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [pageNumber]="pagination.currentPage"
        (pageChanged)="pageChanged($event)">
    </tmp-pagination>
</div>