<div class="row justify-content-center">
    <div class="col-lg-8">
        <h3>Organizations</h3>
        <form class="form">
            <div class="input-group">
                <input type="text" placeholder="Name" class="form-control">
                <button type="button" class="btn btn-info float-right">Reset</button>
                <button type="submit" class="btn btn-primary float-right">Apply</button>  
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <hr>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                    <th colspan="3">Group Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations">
                <td>{{organization.name}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" [routerLink]="['/organizations/' , organization.id, 'edit']"><fa-icon [icon]="editOrganizationIcon"></fa-icon></a>
                        <a class="btn btn-success" (click)="changeStatus(organization.id)"><fa-icon [icon]="archiveOrganizationIcon"></fa-icon></a>
                    </div>
                </td>       
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" [routerLink]="['/groups/organization/', organization.id]"><fa-icon [icon]="innerGroupsIcon"></fa-icon></a>
                        <a class="btn btn-info" [routerLink]="['/groups/create/organization/', organization.id]"><fa-icon [icon]="createGroupIcon"></fa-icon></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6" *ngIf="!organizations.length">
        <div class="alert alert-info text-center" role="alert">
            <h5>There is no organization</h5>
        </div>
    </div>
</div>
<div *ngIf="organizations.length" class="d-flex justify-content-center">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems" 
      [itemsPerPage]="pagination.itemsPerPage" 
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)" 
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>