<div class="row justify-content-center">
  <div class="col-lg-8">
    <h1 class="text-center">Edit Team</h1>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-6 col-8">
              
            <form [formGroup]="editTeamForm" (ngSubmit)="update()">
              <div class="form-group">
                <h4>Name</h4>
                <input [ngClass]="{'is-invalid': editTeamForm.get('Name').errors
                && editTeamForm.get('Name').touched}"
                type="text"
                class="form-control"
                formControlName="Name">
                <div class="invalid-feedback">Please enter a Name</div>
              </div>
              <button type="submit" [disabled]="!editTeamForm.valid" class="btn btn-success float-right">Save</button>
            </form>

          </div>
      </div>
  </div>
</div>