<div class="row justify-content-center">
  <div  class="col-lg-6">
    <h1 class="text-center">Edit Employee</h1>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-6 col-8">
            <div *ngIf="fullTeam" class="alert alert-info text-center" role="alert">
              <h4>Organization: {{fullTeam.organizationName}}</h4>
              <h4>Group: {{fullTeam.groupName}}</h4>
              <h4>Team: {{fullTeam.teamName}}</h4>
            </div>
              <form class="row g-2" [formGroup]="editEmployeeForm" (ngSubmit)="update()">
                <div class="form-group">
                  <tmp-input [formControl]="firstName" [label]="'First Name'" [placeholder]="'Enter First Name'"></tmp-input>
                </div>
                <div class="form-group">
                  <tmp-input [formControl]="lastName" [label]="'Last Name'" [placeholder]="'Enter Last Name'"></tmp-input>
                </div>
                <div class="form-group">
                  <tmp-select
                    [options]="organizationsSelect"
                    [label]="'Organization'"
                    formControlName="organizationId"
                    (change)="loadInnerGroups(editEmployeeForm.get('organizationId').value)">
                  </tmp-select>
                </div>
                <div class="form-group">
                  <tmp-select
                    [options]="innerGroupsSelect"
                    [label]="'Group'"
                    formControlName="groupId"
                    (change)="loadInnerTeams(editEmployeeForm.get('groupId').value)">
                  </tmp-select>
                </div>
                <div class="form-group">                 
                  <tmp-select [options]="innerTeamsSelect" [label]="'Team'" formControlName="teamId"></tmp-select>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="!editEmployeeForm.valid" class="btn btn-success btn-ts float-right">Save</button>
                </div>
              </form>
          </div>
      </div>
  </div>

  <div *ngIf="employee.role == 'Moderator'" class="col-lg-6">
    <div class="container">
      <h1 class="text-center">Assign Groups</h1>
      <div class="row justify-content-center">
       
        <div class="col-lg-6">
          <h1 class="text-center">Current</h1>
          <table class="table table-striped table-hover text-center">
            <thead>
              <th>Group Name</th>
              <th>Options</th>
            </thead>
            <tbody>
              <tr *ngFor="let group of currentModeratorGroups">
                <td>{{group.name}}</td>
                <td><a class="btn btn-danger" (click)="updateGroup(Moderator.id, group.id)"><fa-icon [icon]="minusIcon"></fa-icon></a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-lg-6">
          <h1 class="text-center">Free</h1>
          <table class="table table-striped table-hover text-center">
            <thead>
              <th>Group Name</th>
              <th>Options</th>
            </thead>
            <tbody>
              <tr *ngFor="let group of freeModeratorGroups">
                <td>{{group.name}}</td>
                <td><a class="btn btn-success" (click)="updateGroup(Moderator.id, group.id)"><fa-icon [icon]="plusIcon"></fa-icon></a></td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>