<div class="form-floating" *ngIf="control">
    <input
        [type]="type" 
        [formControl]="control"
        [placeholder]="placeholder"
        class="form-control"
        [ngClass]="(isFilter) ? null : (control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null">
        <label>{{label}}</label>
    <ng-container *ngIf="isFilter === false && control.touched && control.invalid">
        <div *ngIf="control.errors?.required" class="invalid-feedback">
            Please enter {{label}}.
        </div>
        <div *ngIf="control.errors?.minlength" class="invalid-feedback">
            The value you inputted is
            {{ control.errors?.minlength.actualLength }}
            characters long. It must be at least
            {{ control.errors?.minlength.requiredLength }}
            characters long.
        </div>
        <div *ngIf="control.errors?.maxlength" class="invalid-feedback">
            The value you inputted is
            {{ control.errors?.maxlength.actualLength }}
            characters long. It must be less than
            {{ control.errors?.maxlength.requiredLength }}
            characters long.
        </div>
        <div *ngIf="control.errors?.email" class="invalid-feedback">
            You must enter a valid email.
        </div>
        <div *ngIf="control.errors?.pattern" class="invalid-feedback">
            Password not complex enough.
        </div>
        <div *ngIf="control.errors?.noMatch" class="invalid-feedback">
            Passwords do not match.
        </div>
        <div *ngIf="control.errors?.nameExists" class="invalid-feedback">
            Name taken. Please try another name.
        </div>
        <div *ngIf="control.errors?.min" class="invalid-feedback">Value too low.</div>
        <div *ngIf="control.errors?.max" class="invalid-feedback">Value too high.</div>
    </ng-container>
</div>
