@if (control) {
<div class="form-floating">
    <input
        [type]="type" 
        [formControl]="control"
        [placeholder]="placeholder"
        class="form-control"
        [ngClass]="(isFilter) ? null : (control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null">
        <label>{{label}}</label>
    @if (isFilter === false && control.touched && control.invalid) {
        @if (control.errors?.pattern) {
        <div class="invalid-feedback">
            Passwords must be at least 8 characters long, have 1 uppercase letter, 1
            lowercase letter, and 1 number.
        </div>
        }
        @if (control.errors?.required) {
        <div class="invalid-feedback">
            Please enter {{label}}.
        </div>
        }
        @if (control.errors?.minlength) {
        <div class="invalid-feedback">
            The value you inputted is
            {{ control.errors?.minlength.actualLength }}
            characters long. It must be at least
            {{ control.errors?.minlength.requiredLength }}
            characters long.
        </div>
        }
        @if (control.errors?.maxlength) {
        <div class="invalid-feedback">
            The value you inputted is
            {{ control.errors?.maxlength.actualLength }}
            characters long. It must be less than
            {{ control.errors?.maxlength.requiredLength }}
            characters long.
        </div>
        }
        @if (control.errors?.email) {
        <div class="invalid-feedback">
            You must enter a valid email.
        </div>
        }
        @if (control.errors?.usernameExists) {
        <div class="invalid-feedback">
            Username is already taken.
        </div>
        }
        @if (control.errors?.noMatch) {
        <div class="invalid-feedback">
            Passwords do not match.
        </div>
        }
        @if (control.errors?.nameExists) {
        <div class="invalid-feedback">
            Name taken. Please try another name.
        </div>
        }
        @if (control.errors?.min) {
        <div class="invalid-feedback">Value too low.</div>
        }
        @if (control.errors?.max) {
        <div class="invalid-feedback">Value too high.</div>
        }
    }
</div>
}
