@model IEnumerable<Temp.Application.Organizations.GetOrganizations.OrganizationViewModel>

@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-lg-8">
   <h1 class="text-center">Organizations</h1>
   <table class="table table-striped text-center">
       <tr>
           <th>Id</th>
           <th>Name</th>
           <th>Options</th>
       </tr>
       @{ 
           if(Model != null)
           {


               foreach(var organization in Model)
               {
                   <tr>
                       <td>@organization.Id</td>
                       <td>@organization.Name</td>
                       <td><a class="btn btn-primary" asp-controller="Organization" asp-action="Edit" asp-route-id="@organization.Id"><i class="far fa-edit"></i></a></td>
                   </tr>
               }
           }
       }
      
   </table> 
</div>