
@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-lg-8">
   <h1 class="text-center">Organizations</h1>
   <table class="table table-striped text-center">
       <tr>
           <th>Id</th>
           <th>Name</th>
           <th>Options</th>
       </tr>
      
   </table> 
</div>