@model Temp.Application.Organizations.GetInnerGroups.Response

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-8 pt-4">
    @if (Model != null)
    {
        if (Model.Groups.Count() == 0)
        {
            <div class="alert alert-info text-center" role="alert">
                <h5>There are no groups inside organization</h5>
            </div>
        }
        <h1 class="text-center">Groups inside @Model.Name</h1>
        <table class="table table-striped text-center">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th colspan="3">Options</th>
            </tr>

            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Id</td>
                    <td>@group.Name</td>
                    <td><a class="btn btn-primary" asp-controller="Group" asp-action="Edit" asp-route-id="@group.Id"><i class="far fa-edit"></i></a></td>
                </tr>
            }
        </table>
    }
</div>