services:
  tempdb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite

  redis:
    image: redis:latest

  redis-commander:
    image: rediscommander/redis-commander:latest

  temp.api:
    image: ${DOCKER_REGISTRY-}tempapi
    build:
      context: .
      dockerfile: Temp.API/Dockerfile

  temp.spa.angular:
    image: ${DOCKER_REGISTRY-}temp.spa.angular
    build:
      context: ./Temp-SPA
      dockerfile: ./Dockerfile

volumes:
  redis-data:

networks:
  temp-network:
    driver: bridge
