@model Temp.Application.Groups.GetInnerTeams.Response

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-8 pt-4">
    @if (Model != null)
    {
        if (Model.Teams.Count() == 0)
        {
            <div class="alert alert-info text-center" role="alert">
                <h5>There are no teams inside group</h5>
            </div>
        }
        <h1 class="text-center">Teams inside @Model.Name</h1>
        <table class="table table-striped text-center">
            <tr>
                <th>Name</th>
                <th colspan="2">Options</th>
            </tr>

            @foreach (var team in Model.Teams)
            {
                <tr>
                    <td>@team.Name</td>
                    <td><a class="btn btn-primary" asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id"><i class="far fa-edit"></i></a></td>
                    <td><a class="btn btn-info" asp-controller="Team" asp-action="Create" asp-route-id="@team.Id"><i class="fas fa-project-diagram"></i></a></td>
                </tr>
            }
        </table>
    }
</div>