<div class="row d-flex justify-content-center">
    <div class="col-lg-3">
        <h4>Employment statuses</h4>
    </div>
    <div class="col-lg-7">
        <form class="form" [formGroup]="filtersForm">
            <tmp-input [placeholder]="'Name'" [label]="'Name'" formControlName="name" [isFilter]="true"></tmp-input>
        </form>
    </div>    
    <div class="col-lg-2">
        <button type="button" class="btn btn-success float-end" (click)="openCreateModal()" (keydown.enter)="openCreateModal()" (keydown.space)="openCreateModal()" aria-label="Create employment status">
            <fa-icon [icon]="plusIcon"></fa-icon>
        </button>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <hr>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            @for (employment of employmentStatuses; track employment.id) {
            <tr>
                <td>{{employment.name}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="openEditModal(employment.id)" (keydown.enter)="openEditModal(employment.id)" (keydown.space)="openEditModal(employment.id)" aria-label="Edit employment status">
                            <fa-icon [icon]="editIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="changeStatus(employment.id)" (keydown.enter)="changeStatus(employment.id)" (keydown.space)="changeStatus(employment.id)" aria-label="Archive employment status">
                            <fa-icon [icon]="archiveIcon"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    @if (!employmentStatuses.length) {
    <div class="col-lg-6">
        <div class="alert alert-info text-center" role="alert">
            <h5>There are no employment statuses</h5>
        </div>
    </div>
    }
</div>
<div class="d-flex justify-content-center">
    <tmp-pagination
        [totalCount]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [pageNumber]="pagination.currentPage"
        (pageChanged)="pageChanged($event)">
    </tmp-pagination>
</div>