<div class="row justify-content-center">
  <div class="col-lg-8">
    <h1 class="text-center">Create Team</h1>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-6 col-8 alert alert-info text-center" role="alert">
          <h4> Group Name: {{group.name}}</h4>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-6 col-8">
            <form class="row g-2" [formGroup]="createTeamForm" (ngSubmit)="create()">
              <div class="form-group">
                <tmp-input [formControl]="name" [label]="'Name'" placeholder="'Name'"></tmp-input>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!createTeamForm.valid" class="btn btn-success float-right">Create</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>