<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Temp</a>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="mr-1">
          <img height="46" width="46" src="{{'../../assets/user.png'}}" alt="user image">
        </span>
        <span class="dropdown-toggle text-light" dropdownToggle>
          {{authService.decodedToken?.unique_name | titlecase}}
          {{authService.decodedToken?.role}}
        </span>    
        <ul class="dropdown-menu mt-3" *dropdownMenu>
          <li><a class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </div>
  </div>
</nav>