<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Temp</a>
      @if (loggedIn()) {
      <div class="dropdown" dropdown>
        <span class="mr-1">
          <tmp-avatar
            [profilePictureUrl]="authService.currentUser?.profilePictureUrl ?? undefined"
            [displayName]="authService.decodedToken?.unique_name ?? undefined"
            [size]="'medium'"
            [shape]="'circle'">
          </tmp-avatar>
        </span>
        <span class="dropdown-toggle text-light" dropdownToggle>
          {{authService.decodedToken?.unique_name | titlecase}}
        </span>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a class="dropdown-item" href="#" (click)="logout()"><fa-icon [icon]="signOutIcon"></fa-icon> Logout</a></li>
        </ul>
      </div>
      }
  </div>
</nav>