
<div class="row d-flex justify-content-around">
    <div class="col-lg-2">
        <h4>Employees</h4>
    </div>
    <div class="col-lg-7">
        <form class="form" [formGroup]="filtersForm" (ngSubmit)="loadEmployees()">
            <div class="input-group">
                <select class="form-control" formControlName="role">
                    <option [disabled]="role.value === null" *ngFor="let role of roles" [value]="role.value">
                        {{role.display}}
                    </option>
                </select>
                <input type="text" placeholder="First Name" class="form-control" formControlName="firstName">
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName">
                <button type="button" (click)="resetFilters()" class="btn btn-info float-right">Reset</button>
                <button type="submit" class="btn btn-primary float-right">Apply</button>      
            </div>
        </form>
    </div> 
    <div class="col-lg-2">
        <a class="btn btn-success float-end" [routerLink]="['/employees/create']"><fa-icon [icon]="plusIcon"></fa-icon></a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <hr>
        <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th colspan="2" class="text-center">Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>
                    <span class="badge rounded-pill" 
                    [ngClass]="{'text-bg-warning': employee.role === 'Admin',
                                    'text-bg-info' : employee.role === 'User',
                                    'text-bg-success' : employee.role === 'Moderator',
                                    'text-bg-secondary': employee.role === 'None'}">
                        {{employee.role}}
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/employees/', employee.id, 'edit']"><fa-icon [icon]="editIcon"></fa-icon></a>
                </td>
                <td *ngIf="employee.role != 'Admin' && employee.role != 'User' && employee.role != 'Moderator'">
                    <a class="btn btn-info" [routerLink]="['/employees/', employee.id, 'assign-role']"><fa-icon [icon]="assignRoleIcon"></fa-icon></a>
                </td>
                <td *ngIf="employee.role != 'None'">
                    <div class="btn-group">
                        <a (click)="changeStatus(employee.id)" class="btn" 
                            [ngClass]="{'btn-success': employee.isActive,
                        'btn-warning': !employee.isActive}">
                        <fa-icon [icon]="employee.isActive ? deactivateUserIcon : activateUserIcon"></fa-icon>
                        </a>
                        <a (click)="removeRole(employee.id)" class="btn btn-danger"><fa-icon [icon]="removeRoleIcon"></fa-icon></a> 
                      </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="d-flex justify-content-center">
            <pagination 
              [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems" 
              [itemsPerPage]="pagination.itemsPerPage" 
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)" 
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
    </div>
</div>





