@model Temp.Application.Empolyees.AssignRole.Request

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">

        <h1 class="text-center">Assign Role</h1>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                @{
                    var employee = (Temp.Application.Empolyees.GetEmployee.EmployeeViewModel)TempData["employee"];

                    if (employee != null)
                    {

                        <div class="alert alert-info text-center" role="alert">
                            <h4>Id:@employee.Id  First name:@employee.FirstName  Last name:@employee.LastName</h4>
                        </div>

                        <form asp-controller="Employee" asp-action="AssignRole" method="post" asp-antiforgery="true">
                            <input type="hidden" asp-for="@employee.Id" />
                            <div class="form-group">
                                <h4>Username</h4>
                                <input asp-for="Username" required class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <h4>Password</h4>
                                <input asp-for="Password" required class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <h4>Confirm Password</h4>
                                <input asp-for="ConfirmPassword" required class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <fieldset class="form-group">
                                <legend>Role</legend>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Role" value="User" class="form-check-input" checked />
                                        User
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Role" value="Admin" class="form-check-input" />  
                                        Admin
                                    </label>
                                </div>
                            </fieldset>
                            <input type="submit" class="btn btn-success float-right" value="Save" />
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-danger text-center" role="alert">
                            <h4>Can not load employee data</h4>
                        </div>
                    }

                    TempData.Remove("employee");
                }
            </div>
        </div>
    </div>
</div>