@model Temp.Application.Employees.CreateEmployee.Request

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="text-center">Create Employee</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6">
            <form asp-controller="Employee" asp-action="Create" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <h4>First Name</h4>
                    <input asp-for="FirstName" required class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h4>Last Name</h4>
                    <input asp-for="LastName" required class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                   
                    <input type="submit" class="btn btn-success float-right" value="Add" />
                </form>          
            </div>
        </div>
    </div>
</div>