<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <tmp-button variant="subtle" size="small" (clicked)="bsModalRef.hide()" ariaLabel="Close">
      <fa-icon [icon]="faTimes" [size]="'xl'"></fa-icon>
    </tmp-button>
</div>
<div class="modal-body">  
    <form class="row g-2" [formGroup]="createEmploymentStatusForm" (ngSubmit)="create()">
        <div class="form-group">
            <tmp-input [formControl]="name" [label]="'Name'" [placeholder]="'Name'"></tmp-input>
        </div>
        <div class="form-group tmp-form-actions">
        <tmp-button type="submit" variant="success" [disabled]="!createEmploymentStatusForm.valid">Create</tmp-button>
        </div>
    </form>
</div>
