<div class="row justify-content-around">
 <div class="col-lg-2 col-md-6 col-sm-6">
    <h4 *ngIf="innerTeams">Teams inside {{group.name}}</h4>
  </div>
  <div class="col-lg-7">
    <form class="form" [formGroup]="filtersForm">
      <tmp-input [placeholder]="'Name'" [label]="'Name'" formControlName="name" [isFilter]="true"></tmp-input>
  </form>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success float-end" (click)="openCreateModal(group.id)" (keydown.enter)="openCreateModal(group.id)" (keydown.space)="openCreateModal(group.id)" aria-label="Create team">
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-10">
    <hr>
    <table class="table table-striped table-hover text-center">
      <thead>
          <tr>
            <th>Name</th>
            <th>Options</th>
          </tr>
      </thead>
      <tbody *ngIf="innerTeams"> 
        <tr *ngFor="let team of innerTeams">
          <td>{{team.name}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="openEditModal(team.id, group.id)" (keydown.enter)="openEditModal(team.id, group.id)" (keydown.space)="openEditModal(team.id, group.id)" aria-label="Edit team">
                <fa-icon [icon]="editTeamIcon"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger" (click)="changeStatus(team.id)" (keydown.enter)="changeStatus(team.id)" (keydown.space)="changeStatus(team.id)" aria-label="Archive team">
                <fa-icon [icon]="archiveTeamIcon"></fa-icon>
              </button>
            </div>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6" *ngIf="!innerTeams.length">
    <div class="alert alert-info text-center" role="alert">
      <h5>There are no teams inside group</h5>
    </div>
  </div>
  </div>
  <div *ngIf="innerTeams.length" class="d-flex justify-content-center">
    <tmp-pagination
      [totalCount]="pagination.totalItems"
      [pageSize]="pagination.itemsPerPage"
      [pageNumber]="pagination.currentPage"
      (pageChanged)="pageChanged($event)">
    </tmp-pagination>
  </div>