@model IEnumerable<Temp.Application.EmploymentStatuses.GetEmploymentStatuses.EmploymentStatusViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-8">
    <h1 class="text-center">Employment Status search</h1>
    <table class="table table-striped text-center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
        @{
            foreach (var workplace in Model)
            {
                <tr>
                    <td>@workplace.Id</td>
                    <td>@workplace.Name</td>
                    <td><a class="btn btn-primary" asp-controller="EmploymentStatus" asp-action="Edit" asp-route-id="@workplace.Id"><i class="far fa-edit"></i></a></td>
                </tr>
            }
        }
    </table>
</div>

