@{
    string message = (string)TempData["success_message"];

    if (!string.IsNullOrEmpty(message))
    {
        <div class="col-lg-5 pt-4">
            <div class="alert alert-success text-center" role="alert">
                @message
            </div>
        </div>
    }

    TempData.Remove("success_message");
}
