<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="row g-2" [formGroup]="createOrganizationForm" (ngSubmit)="create()">
        <div class="form-group">
          <tmp-input [formControl]="name" [label]="'Name'" [placeholder]="'Name'"></tmp-input>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!createOrganizationForm.valid || isUploading" class="btn btn-success btn-ts float-end">
            {{ isUploading ? 'Uploading...' : 'Create' }}
          </button>
        </div>
      </form>

    <hr class="my-4">

    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Profile Picture</label>
                <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="isUploading">
                <div *ngIf="isUploading" class="text-info mt-1">Uploading...</div>
            </div>

            @if (profilePictureUrl) {
            <div class="mb-3 text-center">
                <img [src]="profilePictureUrl" class="img-thumbnail" style="max-height: 200px;" alt="Profile Preview">
                <p class="mt-2 text-muted">Preview</p>
            </div>
            }
        </div>
    </div>
</div>
