
<div class="row justify-content-center">
  <div class="col-lg-10">
    @if (innerTeams) {
    <h1 class="text-center">Teams inside {{group.name}}</h1>
    }
    <table class="table table-striped table-hover text-center">
      <thead>
          <tr>
            <th>Name</th>
            <th>Options</th>
          </tr>
      </thead>
      @if (innerTeams) {
      <tbody> 
        @for (team of innerTeams; track team.id) {
        <tr>
          <td>{{team.name}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/applications/list/team/', team.id]">
              <fa-icon [icon]="listIcon"></fa-icon>
            </a>
          </td>  
        </tr>
        }
      </tbody>
      }
    </table>
  </div>
  @if (!innerTeams) {
  <div class="col-lg-6">
    <div class="alert alert-info text-center" role="alert">
      <h5>There are no teams inside group</h5>
    </div>
  </div>
  }
</div>