<div class="row justify-content-center">
  <div class="col-lg-6">
    <h1 class="text-center">Create Application</h1>
    <div  class="alert alert-info text-center" role="alert">
      <h4>Team: {{team.name}}</h4>
    </div>

      <form [formGroup]="createApplicationForm" (ngSubmit)="create()">
        <div class="form-group">
          <h4>Category</h4>
          <input [ngClass]="{'is-invalid': createApplicationForm.get('category').errors
            && createApplicationForm.get('category').touched}"
            type="text"
            class="form-control"
            formControlName="category">
            <div class="invalid-feedback">Please enter a Category</div>
        </div>

        <div class="form-group">
          <h4>Content</h4>
          <textarea [ngClass]="{'is-invalid': createApplicationForm.get('content').errors
          && createApplicationForm.get('content').touched}"
          class="form-control"
          rows="7"
          formControlName="content"></textarea>
          <div class="invalid-feedback">Please enter a Content</div>
        </div>
        <button type="submit" [disabled]="!createApplicationForm.valid" class="btn btn-success float-right">Send</button>
      </form>
      
    </div>
</div>
