<div class="row justify-content-center">
    <div class="col-lg-9">
        <h1 class="text-center">Employee With Engagement</h1>
        <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>
                    <span class="badge badge-pill" [ngClass]="{'badge-warning': employee.role === 'Admin',
                                    'badge-info' : employee.role === 'User',
                                    'badge-success' : employee.role === 'Moderator',
                                    'badge-secondary': employee.role === 'None'}">
                        {{employee.role}}
                    </span>
                </td>
                <td>
                <a class="btn btn-primary" [routerLink]="['/engagement/create/', employee.id]"><i class="fas fa-code-branch"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="d-flex justify-content-center">
            <pagination 
              [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems" 
              [itemsPerPage]="pagination.itemsPerPage" 
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)" 
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>     
    </div>

    <div class="col-lg-3">
        <h1 class="text-center">Filters</h1>
        <form class="form" #form="ngForm" (ngSubmit)="loadEmployeesWithEngagement()" novalidate>
            <div class="form-group"> 
                <label for="workplace">Workplace</label>
              <input type="text" class="form-control ml-1" 
              name="workplace"
              [(ngModel)]="employeeParams.workplace">
            </div> 
            <div class="form-group">
                <label for="employmentStatus">Employment Status</label>
              <input type="text" class="form-control ml-1" 
              name="employmentStatus"
              [(ngModel)]="employeeParams.employmentStatus">
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="minSalary">Salary From</label>
                    <input type="number" class="form-control ml-1" 
                    [(ngModel)]="employeeParams.minSalary" name="minSalary">
                </div>
                <div class="col form-group">
                    <label for="maxSalary">Salary To</label>
                    <input type="number" class="form-control ml-1" 
                        [(ngModel)]="employeeParams.maxSalary" name="maxSalary">
                </div>
            </div>
            <button type="button" (click)="resetFilters()" class="btn btn-info float-right ml-2">Reset</button>
            <button type="submit" class="btn btn-primary float-right">Apply</button>      
        </form>
    </div>


</div>

