<div class="row justify-content-around">
    <div class="col-lg-4 col-md-8 col-sm-6">
        <h4 class="text-center">Employee With Engagement</h4>
        </div>
    <div class="col-lg-8">
        <form class="form" [formGroup]="filtersForm">
            <div class="input-group"> 
                <select class="form-control" name="role" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role.value" [disabled]="role.disabled">
                        {{role.display}}
                    </option>
                </select>
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                <input type="text" class="form-control" formControlName="workplace" placeholder="Workplace" >
                <input type="text" class="form-control" formControlName="employmentStatus" placeholder="Employment status">
            </div>
            <div class="input-group">
                <span class="input-group-text">Salary range</span>
                <input type="number" class="form-control text-center" min="0" max="5000" formControlName="minSalary">
                <input type="number" class="form-control text-center" min="0" max="5000" formControlName="maxSalary">
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-12">
        <hr>
        <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>
                    <span class="badge rounded-pill" [ngClass]="{'text-bg-warning': employee.role === 'Admin',
                                    'text-bg-info' : employee.role === 'User',
                                    'text-bg-success' : employee.role === 'Moderator',
                                    'text-bg-secondary': employee.role === 'None'}">
                        {{employee.role}}
                    </span>
                </td>
                <td>
                <a class="btn btn-primary" [routerLink]="['/engagements/create/', employee.id]"><fa-icon [icon]="addEngagementIcon"></fa-icon></a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="d-flex justify-content-center">
            <tmp-pagination
                [totalCount]="pagination.totalItems"
                [pageSize]="pagination.itemsPerPage"
                [pageNumber]="pagination.currentPage"
                (pageChanged)="pageChanged($event)">
            </tmp-pagination>
          </div>     
    </div>
</div>

