<div class="row justify-content-center">

  <div class="col-lg-9">
      <h1 class="text-center">Application search</h1>
      <table class="table table-striped table-hover text-center">
          <thead>
              <tr>
                  <th>Category</th>
                  <th>Created At</th>
                  <th>Status</th>
                  <th colspan="2" class="text-center">Options</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let application of applications">
                <td>{{application.category}}</td>
                <td>{{application.createdAt | date}}</td>
                <td>
                    <h3>
                        <span class="badge badge-pill" [ngClass]="{'badge-danger': application.status == false,
                        'badge-success': application.status == true}">
                        <i class="far fa-eye"></i>
                        </span>
                    </h3>
                </td>
                <td>
                  <a class="btn btn-primary"><i class="far fa-comments"></i></a>
                </td>
            </tr>
          </tbody>
      </table>
</div>

