<div class="row d-flex justify-content-around">
    <div class="col-lg-2">
        <h4>Workplaces</h4>
    </div>
    <div class="col-lg-7">
        <form class="form" [formGroup]="filtersForm">
            <tmp-input [placeholder]="'Name'" [label]="'Name'" formControlName="name" [isFilter]="true"></tmp-input>
        </form>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success float-end" (click)="openCreateModal()" (keydown.enter)="openCreateModal()" (keydown.space)="openCreateModal()" aria-label="Create workplace">
            <fa-icon [icon]="plusIcon"></fa-icon>
        </button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-10">
        <hr>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workplace of workplaces">
                <td>{{workplace.name}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="openEditModal(workplace.id)" (keydown.enter)="openEditModal(workplace.id)" (keydown.space)="openEditModal(workplace.id)" aria-label="Edit workplace">
                            <fa-icon [icon]="editIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="changeStatus(workplace.id)" (keydown.enter)="changeStatus(workplace.id)" (keydown.space)="changeStatus(workplace.id)" aria-label="Archive workplace">
                            <fa-icon [icon]="archiveIcon"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6" *ngIf="!workplaces.length">
        <div class="alert alert-info text-center" role="alert">
            <h5>There are no workplaces</h5>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <tmp-pagination
        [totalCount]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [pageNumber]="pagination.currentPage"
        (pageChanged)="pageChanged($event)">
    </tmp-pagination>
</div>
