<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group">

        <!-- Employee -->
        <div class="dropdown">
            <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-address-book"></i> Employee
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="dropdown-item" asp-controller="Employee" asp-action="Index"><i class="fas fa-angle-right"></i> Empolyees</a>
                <a class="dropdown-item" asp-controller="Employee" asp-action="Create"><i class="fas fa-angle-right"></i> Create Employee</a>
            </div>
        </div>


        <!-- Workplace -->
        <div class="dropdown">
            <a class="list-group-item list-group-item-action bg-light " id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-briefcase"></i> Workplace
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="dropdown-item" asp-controller="Workplace" asp-action="Index"><i class="fas fa-angle-right"></i> Workplaces</a>
                <a class="dropdown-item" asp-controller="Workplace" asp-action="Create"><i class="fas fa-angle-right"></i> Create Workplace</a>
            </div>
        </div>




    </div>
    <!-- list-group END -->
</div>
<!-- side-wrapper END -->
