<div class="form-floating">
    <input 
        bsDatepicker
        [bsConfig]="bsConfig"
        [formControl]="control"
        placeholder="{{placeholder}}"
        class="form-control"
        [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null">
        <label>{{label}}</label>
    @if (control.touched && control.invalid) {
        @if (control.errors?.required) {
        <div class="invalid-feedback">
            Please choose {{label}}.
        </div>
        }
    }
</div>