<div class="row justify-content-center">

  <div class="col-lg-10">
    <h1 class="text-center">Assigned Groups</h1>
    <table class="table table-striped table-hover text-center">
      <thead>
          <tr>
            <th>Name</th>
            <th>Team Options</th>
          </tr>
      </thead>
      @if (groups) {
      <tbody> 
        @for (group of groups; track group.id) {
        <tr>
          <td>{{group.name}}</td>
          <td>
            <tmp-button variant="success" [routerLink]="['/teams/', group.id, 'assigned-groups']"><fa-icon [icon]="usersIcon" [size]="'lg'"></fa-icon></tmp-button>
          </td>
        </tr>
        }
      </tbody>
      }
    </table>
  </div>
  @if (!groups) {
  <div class="col-lg-6">
    <div class="alert alert-info text-center" role="alert">
      <h5>There are no assigned groups</h5>
    </div>
  </div>
  }
  </div>
  
  
  