
@{
}
<h1>Auth home page</h1>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <a class="btn btn-primary" asp-controller="Auth" asp-action="LoginAdmin">LoginAdmin</a>
        <a class="btn btn-success" asp-controller="Auth" asp-action="RegisterAdmin">RegisterAdmin</a>
    </div>
</div>