<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="text-center">Employee Without Engagement</h1>
        <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>
                    <span class="badge rounded-pill" [ngClass]="{'text-bg-warning': employee.role === 'Admin',
                                    'text-bg-info' : employee.role === 'User',
                                    'text-bg-success' : employee.role === 'Moderator',
                                    'text-bg-secondary': employee.role === 'None'}">
                        {{employee.role}}
                    </span>
                </td>
                <td>
                <a class="btn btn-primary" [routerLink]="['/engagement/create/', employee.id]"><fa-icon [icon]="addEngagementIcon"></fa-icon></a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems" 
      [itemsPerPage]="pagination.itemsPerPage" 
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)" 
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
