<div class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-6">
        <h4>Employees without engagement</h4>
    </div>
    <div class="col-lg-8">
        <form class="form" [formGroup]="filtersForm">
            <div class="input-group">
                <select class="form-control" name="role" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role.value" [disabled]="role.disabled">
                        {{role.display}}
                    </option>
                </select>
                <input type="text" placeholder="First Name" class="form-control" formControlName="firstName">
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName">
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>
                            <span class="badge rounded-pill pill-ts" 
                            [ngClass]="{'text-bg-warning': employee.role === 'Admin',
                            'text-bg-info' : employee.role === 'User',
                            'text-bg-success' : employee.role === 'Moderator',
                            'text-bg-secondary': employee.role === 'None'}">
                                {{employee.role}}
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['/engagements/create/', employee.id]">
                                <fa-icon [icon]="addEngagementIcon"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6" *ngIf="!employees.length">
        <div class="alert alert-info text-center" role="alert">
          <h5>There are employees without engagement</h5>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <tmp-pagination
        [totalCount]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [pageNumber]="pagination.currentPage"
        (pageChanged)="pageChanged($event)">
    </tmp-pagination>
</div>
