<div *ngIf="loggedIn() && isAdmin()" class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group">

      <!-- Employee -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light" dropdownToggle>
              <i class="fa fa-address-book"></i> Employee
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/employees']"><i class="fa fa-angle-right"></i> Empolyees</a>
              <a class="dropdown-item" [routerLink]="['/employee/create']"><i class="fa fa-angle-right"></i> Create Employee</a>
          </div>
      </div>

      <!-- Workplace -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light " dropdownToggle>
              <i class="fa fa-briefcase"></i> Workplace
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/workplaces']"><i class="fa fa-angle-right"></i> Workplaces</a>
              <a class="dropdown-item" [routerLink]="['/workplace/create']"><i class="fa fa-angle-right"></i> Create Workplace</a>
          </div>
      </div>

      <!-- EmploymentStatus -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light "  dropdownToggle>
              <i class="fa fa-clipboard"></i> Employment Status
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/employment-statuses']"><i class="fa fa-angle-right"></i> Statuses</a>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> Create Status</a>
          </div>
      </div>

      <!-- Engagement -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light " dropdownToggle>
              <i class="fa fa-industry"></i> Engagement
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> With Engagements</a>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> Without Engagements</a>
          </div>
      </div>

      <!-- Organization -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light " dropdownToggle>
              <i class="fa fa-hotel"></i> Organization
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> Organizations</a>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> Create Organization</a>
          </div>
      </div>

  </div>
  <!-- list-group END -->
</div>

<div *ngIf="loggedIn() && isUser()" class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group">

      <!-- Employee -->
      <div class="dropdown" dropdown>
          <a class="list-group-item list-group-item-action bg-light" dropdownToggle>
              <i class="fa fa-address-book"></i> Employee
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/employees']"><i class="fa fa-angle-right"></i>Empolyees</a>
              <a class="dropdown-item"><i class="fa fa-angle-right"></i> Create Employee</a>
          </div>
      </div>
      
  </div>
  <!-- list-group END -->
</div>
