<div class="row justify-content-center">
  <div class="col-lg-4">
    <h1 class="text-center">Create Employment Status</h1>
      <form [formGroup]="createEmploymentStatusForm" (ngSubmit)="create()">
        <div class="form-group">
          <h4>Name</h4>
          <input [ngClass]="{'is-invalid': createEmploymentStatusForm.get('name').errors
            && createEmploymentStatusForm.get('name').touched}"
            type="text"
            class="form-control"
            formControlName="name">
            <div class="invalid-feedback">Please enter a Name</div>
        </div>
        <button type="submit" [disabled]="!createEmploymentStatusForm.valid" class="btn btn-success float-right">Create</button>
      </form>
  </div>
</div>
