
<form *ngIf="!loggedIn()" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2 class="text-center text-primary">Log In</h2>
  <hr>

  <div class="form-group">
    <select [ngClass]="{'is-invalid': loginForm.get('role').errors 
    && loginForm.get('role').touched }" formControlName="role" class="form-control">
      <option [ngValue]="null" disabled>Select Role</option>
     <option *ngFor="let role of roleList" [ngValue]="role.value">
       {{role.display}}
     </option>
   </select>
   <div class="invalid-feedback">Please choose a role</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid' : loginForm.get('username').errors 
      && loginForm.get('username').touched}"
      type="text" 
      class="form-control" 
      formControlName="username" 
      placeholder="Username">
    <div class="invalid-feedback">Please enter a username</div>
  </div>


  <div class="form-group">
    <input [ngClass]="{'is-invalid' : loginForm.get('password').errors
      && loginForm.get('password').touched}"
      type="password"
      class="form-control" 
      formControlName="password" 
      placeholder="Password">

    <div class="invalid-feedback"
     *ngIf="loginForm.get('password').hasError('required')  
      && loginForm.get('password').touched">Password is required
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Login</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>