
<h1 class="text-center">Create Employee Engagement</h1>
<div class="row justify-content-center">
    <div class="col-lg-5 pt-3">
      <div class="alert alert-info text-center" role="alert">
        <h4>Id: {{employeeData.Employee.Id}} Name: {{employeeData.Employee.FirstName}}  {{employeeData.Employee.LastName}}</h4>
    </div>

      <form [formGroup]="createEngagementForm" (ngSubmit)="create()">

          <div class="form-group">
              <h4>Workplaces</h4>
              <select [ngClass]="{'is-invalid': createEngagementForm.get('workplaceId').errors
              && createEngagementForm.get('workplaceId').touched}"
              formControlName="workplaceId"
              class="form-control">
              <option [ngValue]="null" disabled>Select Workplace</option>
              <option *ngFor="let workplace of employeeData.Workplaces" [ngValue]="workplace.Id">
                {{workplace.Name}}
              </option>
            </select>      
            <div class="invalid-feedback">Please choose a workplace</div>                                     
          </div>

          <div class="form-group">
            <h4>Salary</h4>
            <input [ngClass]="{'is-invalid': createEngagementForm.get('salary').errors
            && createEngagementForm.get('salary').touched}"
            class="form-control"
            formControlName="salary"
            type="number">
            <div class="invalid-feedback" 
            *ngIf="createEngagementForm.get('salary').touched 
            && createEngagementForm.get('salary').hasError('required')">Salary is required
            </div>
            
            <div class="invalid-feedback" 
            *ngIf="createEngagementForm.get('salary').touched 
            && createEngagementForm.get('salary').hasError('min')">Salary can't be smaller than 300
            </div>

            <div class="invalid-feedback" 
            *ngIf="createEngagementForm.get('salary').touched 
            && createEngagementForm.get('salary').hasError('max')">Salary can't be larger than 5000
            </div>

          </div>

          <div class="form-group">
            <h4>Date from</h4>
            <input [ngClass]="{'is-invalid': createEngagementForm.get('dateFrom').errors
              && createEngagementForm.get('dateFrom').touched}"
              class="form-control"
              placeholder="Choose date from"
              formControlName="dateFrom"
              type="text" bsDatepicker [bsConfig]="bsConfig">
              <div class="invalid-feedback" 
              *ngIf="createEngagementForm.get('dateFrom').touched 
              && createEngagementForm.get('dateFrom').hasError('required')">DateFrom is required
            </div>
          </div>

          <div class="form-group">
            <h4>Date to</h4>
            <input [ngClass]="{'is-invalid': createEngagementForm.get('dateTo').errors
             && createEngagementForm.get('dateTo').touched}"
             class="form-control"
             placeholder="Choose date to"
             formControlName="dateTo"
             type="text" bsDatepicker [bsConfig]="bsConfig">
             <div class="invalid-feedback" 
             *ngIf="createEngagementForm.get('dateTo').touched 
             && createEngagementForm.get('dateTo').hasError('required')">DateFrom is required
           </div>
          </div>

          <div class="form-group">
            <h4>Employment statuses</h4>        
            <select [ngClass]="{'is-invalid': createEngagementForm.get('employmentStatusId').errors
            && createEngagementForm.get('employmentStatusId').touched}"
            formControlName="employmentStatusId"
            class="form-control">
            <option [ngValue]="null" disabled>Select Employment Status</option>
            <option *ngFor="let epStatus of employeeData.EmploymentStatuses" [ngValue]="epStatus.Id">
              {{epStatus.Name}}
            </option>
            </select>           
            <div class="invalid-feedback">Please choose a employment status</div>                     
          </div>
          <button type="submit" [disabled]="!createEngagementForm.valid" class="btn btn-success float-right">Add</button>
      </form>          
    </div>

    <div class="col-lg-7 pt-3">
      <div class="table-responsive">   
        <table class="table table-striped table-hover text-center">
          <thead>
              <tr>
                <th>Workplace</th>
                <th>Employment status</th>
                <th>Salary</th>
                <th>From</th>
                <th>To</th>
            </tr>
          </thead>
          <tbody *ngIf="employeeData.Engagements.length !== 0">
            <tr *ngFor="let data of employeeData.Engagements">
              <td>{{data.workplaceName}}</td>
              <td>{{data.employmentStatusName}}</td>
              <td>{{data.salary}}</td>
              <td>{{data.dateFrom | date }}</td>
              <td>{{data.dateTo | date }}</td>
            </tr>
          </tbody>                     
        </table>
      </div>
        <div *ngIf="employeeData.Engagements.length === 0" class="alert alert-danger text-center" role="alert">
            Employee doesn't have assigned engagement
        </div>                     
    </div>
</div>
