<div class="row justify-content-center">
  <div class="col-lg-4">
    <h1 class="text-center">Create Employee</h1>
      <form class="row g-2" [formGroup]="createEmployeeForm" (ngSubmit)="create()">
        <div class="form-group">
          <tmp-input [formControl]="firstName" [label]="'First Name'" [placeholder]="'Enter First Name'"></tmp-input>
        </div>
        <div class="form-group">
          <tmp-input [formControl]="lastName" [label]="'Last Name'" [placeholder]="'Last Name'"></tmp-input>
        </div>
        <div class="form-group">
          <tmp-select 
            [options]="organizationsSelect"
            [label]="'Organization'"
            formControlName="organizationId"
            (change)="loadInnerGroups(createEmployeeForm.get('organizationId')?.value)">
          </tmp-select>
        </div>
        @if (createEmployeeForm.get('organizationId')?.value) {
        <div class="form-group">
          <tmp-select
            [options]="innerGroupsSelect"
            [label]="'Group'"
            formControlName="groupId"
            (change)="loadInnerTeams(createEmployeeForm.get('groupId')?.value)">
          </tmp-select>
        </div>
        }
        @if (createEmployeeForm.get('groupId')?.value) {
        <div class="form-group">
          <tmp-select [options]="innerTeamsSelect" [label]="'Team'" formControlName="teamId"></tmp-select>
        </div>
        }
        <div class="form-gorup">
          <button type="submit" [disabled]="!createEmployeeForm.valid" class="btn btn-success btn-ts float-end">Create</button>
        </div>
      </form>
  </div>
</div>

